<h3><%= @gallery.name %></h3>

  <% if @gallery.user == current_user %>
        <%= link_to "Edit", edit_gallery_path(@gallery) %>
        <%= link_to "Delete", @gallery, method: :delete %>
        <%= link_to "New Image", new_gallery_image_path(@gallery) %>
  <% end %>

<%= render @gallery.images %>         


