<h3><%= @gallery.name %></h3>

  <% if @gallery.user == current_user %>
        <%= link_to "Edit", edit_gallery_path(@gallery) %>
        <%= link_to "Delete", @gallery, method: :delete %>
        <%= link_to "New Image", new_gallery_image_path(@gallery) %>
  <% end %>

<%= render @images %>

<% if current_user.likes? @gallery %>
  <%= button_to "Unlike Gallery", unlike_gallery_path(@gallery), method: :delete %>
<% else %>
  <%= button_to "Like Gallery", like_gallery_path(@gallery) %>
<% end %>

<% if signed_in? %>
  <div id="like-gallery-button">
  <%= render "like_gallery_button", gallery: @gallery %>
 </div>
<% end %>

<div>
  <%= pluralize(@gallery.likes.count, "Like") %>
</div>    


