<h2>New Image</h2>

<%= form_for([@gallery, @image]) do |form| %>
  <%= render "form_errors", target: @image %>
  <%= form.label :name %>:
  <div><%= form.text_field :name %></div>
  <%= form.label :description %>:
  <div><%= form.text_field :description %></div>
  <%= form.label :url %>:
  <div><%= form.text_field :url %></div>
  <div><%= form.submit "Create Image" %></div>
<% end %>
